<div class="container my-3">
  <div>
    <%= link to: tournament_participant_path(@conn, :show, @tournament, @team) do %>
      <i class="material-icons">arrow_back</i> <%= @team.name %>
    <% end %>
  </div>

  <br><br>

  <h1>Editar jugador <em><%= @player.name %></em></h1>

  <%=
  render "form_from_team.html",
  changeset: @changeset,
  action: tournament_participant_playerr_path(@conn, :update, @tournament, @team, @player)
  %>
</div>
