<div class="container my-3">
  <div>
    <%= link to: tournament_path(@conn, :show, @tournament) do %>
    <i class="material-icons">arrow_back</i> <%= @tournament.name %>
    <% end %>
  </div>

  <br><br>

  <h1>Nuevo equipo</h1>
  <%= render "teams_form.html", changeset: @changeset,
  action: tournament_participant_path(@conn, :create, @tournament) %>

</div>
